@{
    //Layout = null;
}

<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donbass Highlights</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
</head>


<body>
    <h1 class="text-center text-primary">Highlights of Donbass</h1>
    <br>

    <div class="container center-block">
        <div class="row">
            <div class="col-lg-12">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/4/4f/UkraineNativeLanguagesCensus2001detailed-en.png" alt="Poor Mining Coal" />
                    <div class="caption">
                        Most common native language in urban and rural municipalities of Ukraine according to 2001 census by <a href="https://commons.wikimedia.org/wiki/User:Tovel">Tovel</a>, <a href="https://commons.wikimedia.org/wiki/User:Spesh531">Spesh531</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h3>Live Map of War in Donbass</h3>
                <iframe style="height:700px; width:100%" src="https://liveuamap.com/"></iframe>
            </div>
        </div>
    </div>    
</body>
</html>