@{
    //Layout = null;
}
@model CommunityInformation.Models.PersonEntry

<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donbass People</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
</head>


<body>
    <h1 class="text-center text-primary">People of Donbass</h1>
    <br>

    @{
        List<PersonEntry> peoples = new List<PersonEntry>();
        peoples.Add(new PersonEntry()
        {
            Name = "Denis Vladimirovich Pushilin",
            ImageURL = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/2017-09-28_Denis_Pushilin.jpg/528px-2017-09-28_Denis_Pushilin.jpg",
            Description = @" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum."
        });

        peoples.Add(new PersonEntry()
        {
            Name = "Leonid Ivanovich Pasechnik",
            ImageURL = "https://upload.wikimedia.org/wikipedia/commons/3/3b/%D0%9B%D0%B5%D0%BE%D0%BD%D0%B8%D0%B4_%D0%9F%D0%B0%D1%81%D0%B5%D1%87%D0%BD%D0%B8%D0%BA_2016.png",
            Description = @" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum."
        });

        peoples.Add(new PersonEntry()
        {
            Name = "Igor Venediktovich Plotnitsky",
            ImageURL = "https://upload.wikimedia.org/wikipedia/commons/a/aa/Ihor_Plotnytskiy.jpg",
            Description = @" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum."
        });

        // sort
        peoples.Sort((p1, p2) => p1.Name.CompareTo(p2.Name));
    }



    <div class="container">
        @{
            foreach (var e in peoples)
            {
                <div class="row">
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <img class="img-rounded img-responsive" src="@e.ImageURL" />
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <h3>@e.Name</h3>
                        @e.Description
                    </div>
                </div>
            }
        }
    </div>

</body>
</html>