@{
    //Layout = null;
}

<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donbass People</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
</head>


<body>
    <h1 class="text-center text-primary">People of Donbass</h1>
    <br>

</body>
</html>