@model CommunityInformation.Models.Message

@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donbass Contact</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
</head>


<body>
    <br>
    <div class="panel panel-success center-block" style="max-width:500px">
        <div class="panel-heading text-center"><h4>Contact</h4></div>
        <div class="panel-body">

            <form class="p-a-1" asp-controller="Home" asp-action="Messager" method="post">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Recipient">To:</label>
                    <input class="form-control" asp-for="Recipient" />
                </div>

                <div class="form-group">
                    <label asp-for="Text">Your Message:</label>
                    <input class="form-control" asp-for="Text" />
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit Message</button>
                </div>

            </form>

        </div>
    </div>
</body>
</html>