@model CommunityInformation.Models.Message

@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Messenger</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
</head>


<body>
    <br>
    <div class="panel panel-success center-block" style="max-width:500px">
        <div class="panel-heading text-center"><h4>Contact</h4></div>
        <div class="panel-body">

            <form class="p-a-1" asp-controller="Home" asp-action="Messenger" method="post">
                <div asp-validation-summary="All"></div>

                <div class="form-group">

                    <label asp-for="Recipient">To:</label>
                    <select class="form-control" asp-for="Recipient">
                        @{
                            // list contacts
                            int i = 0;
                            foreach (User usr in Repository.Users)
                            {
                                if (usr == Repository.LoggedIn)
                                {
                                    //also removes the logged in user from contacts
                                    i++;
                                    continue;
                                }
                                <option value="@i">@usr.Name</option>
                                i++;
                            }
                        }

                    </select>

                    <label asp-for="Subject">Subject:</label>
                    <input class="form-control" asp-for="Subject"/>

                    <label asp-for="Text">Your Message:</label>
                    <input class="form-control" asp-for="Text" />
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit Message</button>
                </div>

            </form>

        </div>
    </div>
</body>
</html>